{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="static/style.css">
{% endblock %}


{% block body %}
<!-- Example article -->
<div class="container">
  <div class="card mx-auto" style="width: 18rem; margin-top: 20px;">
      <img src="static/images/virus.jpg" class="card-img-top" alt="...">
    <div class="card-body text-center">
      <h5 class="card-title">New Virus Spread</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Read Detailed Post</a>
    </div>
  </div>
</div>
{% endblock %}      


